/* ==========================================================================
   Activities Page Specific Styles
   ========================================================================== */
.activities-section {
    padding: 4rem 0;
}

.loading-message {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    text-align: center;
    width: 100%;
}

/* Enhancing the news-card for this page */
.news-card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push footer to the bottom */
    flex-grow: 1;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #f0f0f0;
}

.news-date {
    font-size: 0.9rem;
    color: #6c757d;
}

.btn-album {
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-right: 0.5rem;
}

.btn-album:hover {
    background-color: #001f36;
}

.card-footer > div {
    display: flex;
    align-items: center;
}